* {
  margin: 0;
  padding: 0;

  font-family: 'Montserrat', sans-serif;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: #f0f0f5;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 48px;
}

main .messages {
  width: 560px;
  height: 460px;

  border: 1px solid #f0f0f5;
  border-radius: 8px;

  background-color: white;
}

main .messages .message {
  margin: 12px 12px;

  border-radius: 8px;

  background-color: white;
}

main .messages .message strong {
  font-size: 24px;
  color: blue;
}

main form {
  width: 560px;
  height: 460px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

main form label {
  margin-bottom: 12px;

  font-weight: bold;
}

main form input {
  padding: 0 24px;

  background-color: white;

  border-radius: 8px;

  outline: none;
}

main form input+label {
  margin-top: 12px;
}

main form #username {
  height: 36px;

  border: 1px solid #f0f0f5;
  
}

main form #message {
  height: 200px;

  border: 1px solid #f0f0f5;
  
}

main form button {
  width: 100%;

  font-weight: bold;
  font-size: 14px;

  line-height: 36px;

  color: white;
  background-color: blue;

  border: none;
  border-radius: 8px;
}

